@charset "utf-8";
/* CSS Document */

#footercont
{
	width: 100%;
	padding: 5px;
	font-size: 13px;
	text-align: center;
	border-top: 1px dashed #222;
	color: #666;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	bottom:0;
	background:#020202;
	position:fixed;
}
#heading {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/*#headingContainer{

	z-index:1;
	
	-moz-perspective: 50px;
	-webkit-perspective: 50px;
	perspective: 50px;
}
*/



